.index {
  .swiper {
    position: relative;
  }

  .nav {
    padding: 10px 0;
    .am-flexbox {
      text-align: center;
    }
    img {
      width: 48px;
      height: 48px;
      margin-bottom: 7px;
    }
  }
  .group {
    background-color: #eee;
    overflow: hidden;
    padding: 0 10px;
    // &: 父选择器
    &-title {
      position: relative;
      margin: 15px 0px 15px 10px;
      font-size: 15px;
      .more {
        color: #787d82;
        position: absolute;
        right: 0;
        font-size: 14px;
        font-weight: normal;
      }
    }

    &-content {
      img {
        width: 70px;
      }
      .am-flexbox {
        background-color: transparent;
        margin-bottom: 8px;
        text-align: center;
        .am-grid-item {
          background-color: #fff;
          &:nth-child(odd) {
            margin-right: 8px;
          }
        }
        .am-grid-item-content {
          padding: 5px 0;
        }
        .desc p.title {
          font-weight: 700;
          margin-bottom: 5px;
        }
        .desc span.info {
          font-size: 12px;
          color: #999;
        }
      }
    }
  }

  .message {
    background-color: #fff;
    overflow: hidden;
    padding: 0 15px;
    &-title {
      position: relative;
      margin: 15px 0px;
      font-size: 18px;
    }
    .news-item {
      height: 120px;
      padding: 10px 10px 10px 0;
      border-bottom: 1px solid #ccc;
      .imgwrap {
        float: left;
        height: 100px;
        width: 100px;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .content {
        overflow: hidden;
        height: 100%;
        padding-left: 12px;
        .title {
          margin-bottom: 15px;
          font-size: 14px;
        }
        .info {
          width: 100%;
          color: #999;
        }
      }
    }
  }
}
