.map {
  height: 100%;
  padding-top: 45px;
  :global {
    #container {
      height: 100%;
    }
    .bubble {
      width: 70px;
      height: 70px;
      line-height: 1;
      display: inline-block;
      position: absolute;
      border-radius: 100%;
      background: rgba(12, 181, 106, 0.9);
      color: #fff;
      border: 2px solid rgba(255, 255, 255, 0.8);
      text-align: center;
      cursor: pointer;
      .name {
        padding: 18px 0 6px 0;
      }
    }
    .rect {
      height: 20px;
      line-height: 20px;
      width: 100px;
      color: #fff;
      padding: 0 3px;
      border-radius: 3px;
      position: absolute;
      background: rgba(12, 181, 106, 0.9);
      cursor: pointer;
      white-space: nowrap;
      .arrow {
        display: block;
        width: 0;
        height: 0;
        margin: 0 auto;
        border: 4px solid transparent;
        border-top-width: 4px;
        border-top-color: #00a75b;
      }
      .housename {
        display: inline-block;
        width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
      }
      .housenum {
        display: inline-block;
        width: 20px;
      }
    }
    .houseList {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 330px;
      transition: all 1s;
      transform: translate3d(0, 330px, 0);
      background: #fff;
      &.show {
        transform: translate3d(0, 0, 0);
      }
      .titleWrap {
        position: relative;
        width: 100%;
        background: #c0c0c2;
        border-top: 1px solid #c8c8c8;
        .listTitle {
          display: inline-block;
          padding-left: 10px;
          line-height: 43px;
          font-size: 16px;
          color: #1e1e1e;
          vertical-align: middle;
          margin: 0;
        }
        .titleMore {
          float: right;
          padding-right: 15px;
          line-height: 43px;
          font-size: 13px;
          color: #1e1e1e;
          vertical-align: middle;
        }
        .titleMore:visited {
          text-decoration: none;
        }
      }
      .houseItems {
        padding: 0 10px;
        overflow-y: auto;
        height: 100%;
        padding-bottom: 45px;
      }
    }
  }
}
