* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  // https://www.jianshu.com/p/04bf173826aa
  touch-action: pan-y;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: #333;
}

body {
  font-family: 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}
